body
{
	background-color: whitesmoke;
	margin: 0 0 0 0;
}

#upperDiv
{
	background-color: deepskyblue;
	height: 10%;
	width: 100%;
	//position: fixed;
	font-family: Cursive;
}

.clickableTD
{
	cursor: pointer;
	text-align: center;
	font-size: 20px;
}